.muted {
   color: #5a5a5a;

}

.inline-override{
	display:inline;
}

.overlay{	
    background: rgba(0,0,0,0.3);
}

.overlay-orange{
    background: rgba(227,107,54,.8);
}

#videobcg { 

     top: 50px;
     left: 0px;

     height: auto;



    position: absolute;
	
	width: 100%!important;
	overflow: hidden!important;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
}