<div class="content-section-b">
        <div class="row">
          <div class="col-md-6 col-md-offset-1">
            <a href="mailto:mushter@shoplandia.co">Contact Us</a>
             <br /> <br /> <p>&copy; 2014 - Shoplandia. All rights reserved. </p>
        </div>
      </div>