<!DOCTYPE html>
<html>
<head>
  <title>Shoplandia</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//vjs.zencdn.net/4.9/video-js.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/4.9/video.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<%= yield %>

</body>
</html>
